.container {

}

/*HEADER*/

/*Phần mở top của header*/

.header {
    position: relative;
}

.header__top {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.header__top__child {
    display: flex;
    justify-content: space-between;
    line-height: 22px;
    font-size: 1.3rem;
    margin-left: -15px;
    margin-right: -15px;
}

.header__top__child__left {
}

.header__top__child__right {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.header__top__child__right div + div{
    margin-left: 20px;
}

.header__top__child__left,
.header__top__child__right__local,
.header__top__child__right__order,
.header__top__child__right__shop, 
.header__top__child__right__account {
    padding: 8px 0;
    opacity: 0.6;
}

.header__top__child__left {
    padding-left: 15px;
    padding-right: 15px;
}

.header__top__child__right__child
{
    position: relative;
}

.header__top__child__right__child::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
    background-color: #adabab;
}

.header__top__child__right__child:first-child::before {
    content: none;
}

.header__top__child__right__local {

}

.header__top__child__right__order {

}

.header__top__child__right__shop {

}

.header__top__child__right__account {

}

.header__top__child__right__local__cotent, 
.header__top__child__right__order__cotent, 
.header__top__child__right__shop__cotent, 
.header__top__child__right__account__cotent{
    margin-left: 5px;
}


.header__top__child__right__local__cotent {

}

.header__top__child__right__order__cotent {

}

.header__top__child__right__shop__cotent {

}

.header__top__child__right__account__cotent {

}

/*Phần mở middle của header*/

.header__middle {
    width: 100%;
}

.header__middle__child {
    display: flex; 
    padding: 28px 0;
    margin-left: -15px;
    margin-right: -15px;
}

/* Phần logo */
.header__middle__child__logo {
    padding: 0 15px;
}

/* Phần search */
.header__middle__child__search {
    display: flex;
    flex: 1;
    padding: 0 0 0 15px;
    border-radius: 2.2rem;
    border: 2px solid #fed700;
}

.header__middle__child__search__child{
    flex: 1;
    width: 100%;
    height: 100%;
    font-size: 16px;
    outline: none;
    border: none;
}

.header__middle__child__search__sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    width: 15rem;
    padding: 0 10px;
}

.header__middle__child__search__sort--icon {
    font-size: 1.3rem;
}

.header__middle__child__search__search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    background-color: #fed700;
    border-top-right-radius: 2.2rem;
    border-bottom-right-radius: 2.2rem;
}

.header__middle__child__search__search--icon{
    font-size: 2rem;
}

/* Phần select */
.header__middle__child__selec {
    line-height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    opacity: 0.7;

}

.header__middle__child__selec__reload {

}

.header__middle__child__selec__heart {

}

.header__middle__child__selec__acc {

}

.header__middle__child__selec__cart {
    position: relative;
    display: flex;
    align-items: center;
}

.header__middle__child__selec__cart::before {
    position: absolute;
    content: "1";
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(100% - 22px);
    left: 12px;
    border-radius: 50%;
    background-color: #fed700;
    font-weight: 700;
    opacity: 1 !important;
}

.header__middle__child__selec__cart__content {
    line-height: 2.2rem;
    font-size: 16px;
    margin-left: 10px;
}

.header__middle__child__selec__reload,
.header__middle__child__selec__heart,
.header__middle__child__selec__acc,
.header__middle__child__selec__cart {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 35px;
}

.header__middle__child__selec__reload:hover .header__middle__child__selec__reload__hover,
.header__middle__child__selec__heart:hover .header__middle__child__selec__heart__hover,
.header__middle__child__selec__acc:hover .header__middle__child__selec__acc__hover,
.header__middle__child__selec__cart:hover .header__middle__child__selec__cart__hover {
    display: flex;
} 

.header__middle__child__selec__icon {
    font-size: 22px;
    width: 22px;
    height: 22px;
}

.header__middle__child__selec__reload__hover::before,
.header__middle__child__selec__heart__hover::before,
.header__middle__child__selec__acc__hover::before,
.header__middle__child__selec__cart__hover::before{
    content: "";
    position: absolute;
    top: calc(0% - 15px);
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 10px solid black;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid transparent;
}

.header__middle__child__selec__reload__hover {
    position: absolute;
    right: -150%;
    bottom: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 10px 15px;
    font-weight: 700;
    z-index: 999;
    transition: all 500ms ease;
    display: none;
    
}

.header__middle__child__selec__heart__hover {
    position: absolute;
    right: -133%;
    bottom: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 10px 15px;
    font-weight: 700;
    z-index: 999;
    transition: all 500ms ease;
    display: none;
    
}

.header__middle__child__selec__acc__hover {
    position: absolute;
    width: 120px;
    right: -220%;
    bottom: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 10px 15px;
    font-weight: 700;
    z-index: 999;
    transition: all 500ms ease;
    display: none;
    
}

.header__middle__child__selec__cart__hover {
    position: absolute;
    right: 20%;
    bottom: -120%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 10px 15px;
    font-weight: 700;
    z-index: 999;
    transition: all 500ms ease;
    display: none;
    
}


/* Phần top của header */
.header__footer {
    width: 100%;
    background-color: #fed700;
}
 
.header__footer__child {
    position: relative;
}


.header__footer__child__selec {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 0 15px;
}

.header__footer__child__selec__home {
}

.header__footer__child__selec__home--content {

}

.header__footer__child__selec__home--icon {

}

.header__footer__child__selec__tv {

}

.header__footer__child__selec__tv--content {

}

.header__footer__child__selec__tv--icon {

}

.header__footer__child__selec__smartPhone {

}

.header__footer__child__selec__smartPhone--content {

}

.header__footer__child__selec__smartPhone--icon {

}

.header__footer__child__selec__laptop {

}

.header__footer__child__selec__laptop--content {

}

.header__footer__child__selec__laptop--icon {

}

.header__footer__child__selec__gadget {

}

.header__footer__child__selec__gadget--content {

}

.header__footer__child__selec__gadget--icon {

}

.header__footer__child__selec__camera {

}

.header__footer__child__selec__camera--content {

}

.header__footer__child__selec__camera--icon {

}

.header__footer__child__selec__movie {

}

.header__footer__child__selec__movie--content {

}

.header__footer__child__selec__movie--icon {

}

.header__footer__child__selec__home,
.header__footer__child__selec__tv,
.header__footer__child__selec__smartPhone,
.header__footer__child__selec__laptop,
.header__footer__child__selec__gadget,
.header__footer__child__selec__camera,
.header__footer__child__selec__movie {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    line-height: 2.2rem;
}

.header__footer__child__selec__home,
.header__footer__child__selec__tv,
.header__footer__child__selec__smartPhone,
.header__footer__child__selec__laptop,
.header__footer__child__selec__gadget,  
.header__footer__child__selec__camera{
    border-right: 1px solid #e7c400;
}

.header__footer__child__selec__smartPhone__header,
.header__footer__child__selec__laptop__header,
.header__footer__child__selec__gadget__header,
.header__footer__child__selec__camera__header,
.header__footer__child__selec__movie__header,
.header__footer__child__selec__tv__header {
    display: flex;
    align-items: center;
}


.header__footer__child__selec__home--content,
.header__footer__child__selec__tv__header--content,
.header__footer__child__selec__smartPhone__header--content,
.header__footer__child__selec__laptop__header--content,
.header__footer__child__selec__gadget__header--content,
.header__footer__child__selec__camera__header--content,
.header__footer__child__selec__movie__header--content {
    font-weight: 600;
    opacity: 0.7;
}

.header__footer__child__selec__tv__header--icon,
.header__footer__child__selec__smartPhone__header--icon,
.header__footer__child__selec__laptop__header--icon,
.header__footer__child__selec__gadget__header--icon,
.header__footer__child__selec__camera__header--icon,
.header__footer__child__selec__movie__header--icon {
    height: 2.2rem;
    font-size: 1.6rem;
    margin-left: 5px;
}

.paddingClick {
    padding-bottom: 15px;
}


/* Phần hover */

.header__footer__child__selec__home__list__child {
    width: 25%;
}

.header__footer__child__selec__home__list__child__list {
    
}

.header__footer__child__selec__home__list__child__list + .header__footer__child__selec__home__list__child__list {
    margin-top: 20px;
}

.header__footer__child__selec__home__list__child__list__child {
    padding: 5px 0;
    opacity: 0.7;
}

.header__footer__child__selec__home__list__child__list__child:first-child {
    font-weight: 700;
    margin-bottom: 5px;
}

.header__footer__child__selec__home__list__child__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
} 

/* reponsive mobile */

.header__footer__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
}   

.header__footer__mobile__root {
    display: flex;
    align-items: center;
}

.header__footer__mobile__root__logo {

}

.header__footer__mobile__root__logo__child {
    width: 118px;
    padding: 8px 0;
}

.header__footer__mobile__root__icon {
    font-size: 22px;
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.header__footer__mobile__user {
    display: flex;
    align-items: center;
}

.header__footer__mobile__user__glass {
    text-align: center;
}

.header__footer__mobile__user__acc {

}

.header__footer__mobile__user__cart {

}

.header__footer__mobile__user__glass--icon{
    font-weight: 100;
}

.header__footer__mobile__user__acc--icon{
    margin-left: 20px;
}

.header__footer__mobile__user__cart--icon {
    margin-left: 20px;
}

.header__footer__mobile__user__glass__icon
{

}

.header__footer__mobile__user__exit__icon {
    display: none;
}

.header__footer__mobile__user__exit__icon--child {

}

.header__footer__mobile__user__glass__icon--child,
.header__footer__mobile__user__acc--icon,
.header__footer__mobile__user__cart--icon,
.header__footer__mobile__user__exit__icon--child {
    font-size: 22px;
    width: 22px;
    height: 22px;
}

.header__footer__mobile__user__glass__input {
    position: absolute;
    bottom: -54px;
    left: 0;
    display: flex;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    display: none;
}

.header__footer__mobile__user__glass__input__child {
    width: 100%;
    border: none;
    padding: 15px 30px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    outline: none;
}

.header__footer__mobile__user__glass__input {
    
}

.header__footer__mobile__user__glass__input__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
}

.header__footer__mobile__user__glass__input__icon--child {
    font-size: 2.2rem;

}
/* reponsive mobile */



/* body */
.body{


}


/* đường dẫn */
.path{
    padding: 25px 0;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    opacity: 0.6;
    font-weight: 400;
}

.path__home{

}

.path--icon{
    margin: 0 20px;
}
    
.path__shop{

}

/* sản phẩm */

.product {
    margin-bottom: 30px;
}

.product__left {

}

.product__left__child {
    border: 2px solid #ddd;
    border-radius: 6px;
    margin-bottom: 35px;
}

.product__left__child__header {
    font-size: 1.6rem;
    padding: 14px 10px;
    opacity: 0.6;
    border-bottom: 1px solid #ddd;

}

.product__left__child__body {
    font-size: 1.2rem;
    margin: 14px 14px;
}

.product__left__child__body__list {
    font-size: 1.4rem;
    opacity: 0.6;
}

.product__left__child__body__list__child {
    line-height: 2.2rem;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.product__left__child__body__list__child__icon {

}

.product__left__child__body__list__child__icon--child {
    width: 14px;
    height: 14px;
}

.product__left__child__body__list__laptop__iconDown,
.product__left__child__body__list__tv__iconDown,
.product__left__child__body__list__accessories__iconDown,
.product__left__child__body__list__phone__iconDown {
    display: none;
}


.product__left__child__body__list__child:last-child{
    border: none;
}

.product__left__child__body__list__accessories,
.product__left__child__body__list__laptop,
.product__left__child__body__list__tv,
.product__left__child__body__list__phone {

}

.product__left__child__body__list__child__quality {

}

.product__left__child__body__list__accessories__list {
    padding-left: 23px;
    margin-top: 5px;
    display: none;
}

.product__left__child__body__list__accessories__list__child {
    line-height: 2.2rem;
    padding: 5px 0;
}

.product__left__child__body__list__accessories__list__child__quality {

}

.product__left__child__body__list__laptop__list {
    padding-left: 23px;
    margin-top: 5px;
    display: none;
}

.product__left__child__body__list__laptop__list__child {
    line-height: 2.2rem;
    padding: 5px 0;
}

.product__left__child__body__list__laptop__list__child__quality {

}

.product__left__child__body__list__tv__list {
    padding-left: 23px;
    margin-top: 5px;
    display: none;
}

.product__left__child__body__list__tv__list__child {
    line-height: 2.2rem;
    padding: 5px 0;
}

.product__left__child__body__list__tv__list__child__quality {

}

.product__left__child__body__list__phone__list {
    padding-left: 23px;
    margin-top: 5px;
    display: none;
}

.product__left__child__body__list__phone__list__child {
    line-height: 2.2rem;
    padding: 5px 0;
}

.product__left__child__body__list__phone__list__child__quality {

}


/* Phần filter */
.product__left__filter {
    font-size: 1.4rem;
}

.product__left__filter__topic {
    font-size: 1.8rem;
    margin-bottom: 35px;
    border-bottom: 1px solid #ddd;
    display: block;
    opacity: 0.7;
}

.product__left__filter__all {
    border-bottom: 1px solid #ddd;
    opacity: 0.7;
}

.product__left__filter__all__content {
    margin-bottom: 11px;
}

.product__left__filter__all__list {

}

.product__left__filter__all__list__child {
    display: flex;
    align-items: center;
    list-style-type: none;
    line-height: 2.2rem;
    padding: 5px 0;
}

.product__left__filter__all__list__showMore {
    margin: 16px 0;
}

.product__left__filter__price {

}

.product__left__filter__color  {
    padding-top: 30px;
}

.product__left__filter__color__content {

} 

.product__left__filter__color__list {

} 

.product__left__filter__color__list__child {

} 

.product__left__filter__color__list__child {

} 

.product__left__filter__color__list__child {

} 

.product__left__filter__color__list__child {

} 

.product__left__filter__color__list__child {

} 

.product__left__filter__color__list__showMore {

} 


.product__left__filter__brand {

} 

.product__left__filter__brand__content {

} 

.product__left__filter__brand__list {

} 

.product__left__filter__brand__list__child {

} 

.product__left__filter__brand__list__child {

} 

.product__left__filter__brand__list__child {

} 

.product__left__filter__brand__list__child {

} 

.product__left__filter__brand__list__child {

} 

.product__left__filter__brand__list__showMore {

} 

.product__left__filter__button {
    padding: 10px 24px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 1.6rem;
}

.product__left__filter__button:hover {
    background-color: black;
    color: white;
}


/* phần sản phẩm */
.product__right {
    
}

.product__right__child {
    width: 100%;
    padding-bottom: 35px;
}

.product__right__child__rcm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
}

.product__right__child__rcm__content {
    font-size: 2.2rem;
    margin-right: 20px;
    font-weight: 400;
    opacity: 0.7;
    padding-bottom: 20px;
    border-bottom: 1px solid #fed700;
}

.product__right__child__rcm__icon {

}

.product__right__child__rcm__icon--left,
.product__right__child__rcm__icon--right {
    font-size: 2.2rem;
    opacity: 0.4;
}


.product__right__child__rcm__icon--left:hover,
.product__right__child__rcm__icon--right:hover {
    color: #fed700;
}

.product__right__child__product--wrapper {
    overflow-x: auto;
}

.product__right__child__product {
    transition: all 500ms ease 0s;
}

.product__right__child__product__list {
}


.product__right__child__product__list:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product__right__child__product__list__child {
    width: 100%;
    position: relative;
    padding: 16px 8px;
    display: inline-block;
}

.product__right__child__product__list__child::before {
    position: absolute;
    content: "";
    width: 1px;
    background-color: #ddd;
    height: 80%;
    top: 10%;
    right: -5px;
}

.product__right__child__product__list__child--last::before {
    content: none;
}

.product__right__child__product__list__child__type {
    font-size: 1.2rem;
    opacity: 0.6;
    margin-bottom: 12px;
}

.product__right__child__product__list__child__name {
    width: 100%;
    height: 32px;
    font-size: 1.4rem;
    color: rgb(0, 98, 189);
    font-weight: 600;
    margin-bottom: 8px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product__right__child__product__list__child__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    margin-bottom: 10px;
}

.product__right__child__product__list__child__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 7px;
    border-bottom: 1px solid #ddd;
}

.product__right__child__product__list__child__price__cost {
    display: flex;
    align-items: end;
}

.sale.product__right__child__product__list__child__price__cost--saled {
    font-size: 20px;
    color: red;
    margin-right: 5px;
    line-height: 22px;
}

.product__right__child__product__list__child__price__cost--saled {
    font-size: 20px;
    margin-right: 5px;
    line-height: 22px;
}

.product__right__child__product__list__child__price__cost--old {
    font-size: 14px;
    opacity: 0.5;
    text-decoration: line-through;
}


.product__right__child__product__list__child__price__icon {

}

.product__right__child__product__list__child__price__icon--child {
    font-size: 2.4rem;
}

.product__right__child__product__list__child__interact {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.product__right__child__product__list__child__interact__wishlist {

}

.product__right__child__product__list__child__interact__wishlist--icon {

}

.product__right__child__product__list__child__interact__wishlist--content {

}

.product__right__child__product__list__child__interact__wishlist,
.product__right__child__product__list__child__interact__compare {
    margin: 0 5px;
}

.product__right__child__product__list__child__interact__compare {
    
}

.product__right__child__product__list__child__interact__wishlist--icon,
.product__right__child__product__list__child__interact__compare--icon {
    margin-right: 5px;
}

.product__right__child__product__list__child__interact__compare--icon {

}

.product__right__child__product__list__child__interact__wishlist--content,
.product__right__child__product__list__child__interact__compare--content {
    font-size: 13px;
    opacity: 0.6;
}

.product__right__child__product__list__child__interact__compare--content {

}

.product__right__child__page {
    display: flex;
    align-items: center;
    margin: 10px auto;
    width: 55px;
}

.product__right__child__page__child {
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
    transition: all 500ms ease 0s;
    background-color: #ddd;
}

.product__right__child__page__first {
    flex: 2;
    border-radius: 2.2rem;
    background-color: #fed700;
}
.product__right__child__page__second {
    flex: 1;
}
.product__right__child__page__third {
    flex: 1;
}


/* Shop */
.product__right__shop {

}

.product__right__shop__name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    opacity: 0.6;
    margin-bottom: 14px;
}

.product__right__shop__name--left {
    opacity: 1;
    font-size: 2.5rem;
}

.product__right__shop__name--right {
    font-size: 1.4rem;
}

.product__right__shop__selec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 20px;
    height: 45px;
    background-color: #efefef;
    border-radius: 7px;
}

.product__right__shop__selec__icon {
    display: flex;
    align-items: center;
    line-height: 2.4rem;
    height: 100%;
}

.product__right__shop__selec__icon__child {
    font-size: 18px;
    color: rgb(208, 215, 221);
}

.product__right__shop__selec__icon__child:first-child {
    color: currentColor;
}

.product__right__shop__selec__icon__child + .product__right__shop__selec__icon__child {
    margin-left: 2rem;
}

.product__right__shop__selec__list {
    display: flex;
    opacity: 0.8;
    font-weight: 500;
}

.product__right__shop__selec__list__sort {
    margin-right: 15px;
}

.product__right__shop__selec__list__sort__selec {
    border-radius: 20px;
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC) no-repeat right 0.75rem center;
    background-size: 8px 10px;
    -webkit-appearance: none;
    padding: 8px 24px 8px 12px;
    outline: none;
    border: 1px solid #ddd;  
    font-size: 1.4rem;
}

.product__right__shop__selec__list__sort__selec:focus {
    border: 1px solid #fed700;  
}

.product__right__shop__selec__list__show {

}

.product__right__shop__selec__list__show__selec {
    border: none;
    border-radius: 20px;
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC) no-repeat right 0.75rem center;
    background-size: 8px 10px;
    -webkit-appearance: none;
    padding: 8px 24px 8px 12px;
    outline: none;
    border: 1px solid #ddd;  
    font-size: 1.4rem;
}

.product__right__shop__selec__list__show__selec:focus {
    border: 1px solid #fed700;  
}

.product__right__shop__selec__list__show__selec--child,
.product__right__shop__selec__list__sort__selec--child {
    
}

.product__right__shop__selec__page {
    opacity: 0.6;
}

.product__right__shop__selec__page--content {
    margin: 0 1rem;
    font-size: 1.4rem;
}

.product__right__shop__selec__page--input {
    width: 50px;
    padding: 8px 0;
    border: none;
    border-radius: 20px;
    text-align: center;
    outline: none;
    border: 1px solid #ddd;  
}

.product__right__shop__selec__page--input:focus {
    border: 1px solid #fed700;
}

.product__right__shop__product {

}


.product__right__shop__page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    padding: 14px 0;
    border-top: 1px solid #ddd;
}

.product__right__shop__page--left {
    opacity: 0.6;
}

.product__right__shop__page--right {
    display: flex;
}

.product__right__shop__page--right--round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
}

.product__right__shop__page--right--round:first-child {
    background-color: #fed700;
}

.product__right__shop__page--right--round + .product__right__shop__page--right--round {
    margin-left: 1rem;
}


/* footer */


.footer {
}

.footerContai {
    width: 100%;
    background-color: #fed700;
}


.tiket__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    opacity: 0.7;
    padding: 12px 0;
}


.tiket__content__left {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.tiket__content__left--icon {
    margin-right: 15px;
}

.tiket__content__left__content {
    font-size: 2.2rem;
    line-height: 2.6rem;
}

.tiket__content__right {
    line-height: 2rem;
}

.tiket__input__content {
    padding: 12px 32px;
    font-size: 1.6rem;
    border-top-right-radius: 2.2rem;
    border-bottom-right-radius: 2.2rem;
    border: none;
    background-color: #333e48;
    color: white;
}
/* phần giới thiệu  */
.details {
padding: 60px 0;
display: flex;
justify-content: space-between;
}

.details__contact__top {
margin-bottom: 42px;
}

.details__contact__top__logo {
margin-bottom: 22px;
}

.details__contact__top__phoneNum {
display: flex;
align-items: center;
}

.details__contact__top__phoneNum__left {
padding-right: 20px;
}

.details__contact__top__phoneNum__left--icon{
font-size: 4rem;
color: #fed700;
}

.details__contact__top__phoneNum__right {

}

.details__contact__top__phoneNum__right__top {
font-size: 13px;
opacity:0.6;
margin-bottom: 5px;
}

.details__contact__top__phoneNum__right__bottom {
font-size: 22px;
line-height: 100%;
}


.details__contact__socialNetwork {

}

.details__contact__socialNetwork__address {
margin-bottom: 18px;
font-size: 1.4rem;
line-height: 2.4rem;
opacity: 0.7;
}

.details__contact__socialNetwork__address__top {

}

.details__contact__socialNetwork__address__bottom {

}

.details__contact__socialNetwork__social {

}

.details__contact__socialNetwork__social--icon {
font-size: 2.2rem;
opacity: 0.5;

}

.details__contact__socialNetwork__social--icon + .details__contact__socialNetwork__social--icon  {
margin-left: 15px;
}

.fb.details__contact__socialNetwork__social--icon:hover {
opacity: 1;
color: blue;
}

.yt.details__contact__socialNetwork__social--icon:hover {
opacity: 1;
color: red;
}

.in.details__contact__socialNetwork__social--icon:hover {
opacity: 1;
color: rgb(253, 84, 0);
}

.details__care {
font-size: 1.4rem;
line-height: 2.4rem;
}

.details__care__content {
opacity: 0.8;
margin-bottom: 26px;
}

.details__care__list {
opacity: 0.6;
}

.details__care__content__list___child {
list-style-type: none;
margin-top: 5px;
}

.details__infoStu {
padding: 30px;
border: 1px solid #ddd;
border-radius: 10px;
}

.details__infoStu__avatar {
padding-top: 100%;
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
border-radius: 50%;
}

.details__infoStu__info {
display: flex;
align-items: center;
font-size: 1.8rem;
opacity: 0.8;
line-height: 2.4rem;
margin-top: 10px;
opacity: 0.8;
} 

.details__infoStu__info--icon {
margin-right: 10px;
}
.details__infoStu__info--content {

}
